
h1 {
  font-size: 6em;
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
  
}

body.background{
  background-image: url('fade out.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: 100% 100%;
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
