




h1{
color:#663399; 
font-size:7em;
}

p.fancy{
color:#000000; 
font-style: oblique;
font-size:4em;
}


h2{
color:#000000; 
font-size:3em;
}


table.center{
  margin-left: auto;
  margin-right: auto;





