

<title>stylesheet1<title>


<style>
.content-table, td {
  border:border: 5px solid black;
  border-collapse: collapse;
  
.content-table {
  margin-left: auto;
  margin-right: auto;
  font-size: 3em
}
</style>  
  
  
