h1{
font-size: 6em;
font-style: oblique;
text-align: center;
}


p.fancy{
font-size: 3em;
font-family: "Lucida Console", Courier, monospace;
}  


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


